<h2>Course Log</h2>
<div id="ajax-course-data">
  <button id="load-course-log">Load Courses</button>
</div>
  <button id="load-course-alpha">Sort Courses</button>
<ul>
  <%= link_to "Add New Course", new_course_path, class: "submit_button" %>
</ul>